html {
    height: initial !important;
    width:100vw;
    overflow-x:hidden;
}

@media (max-width: 900px) {
    html {overflow-x:auto }
}

#main-wrapper{
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

#main-wrapper.isVk{
    padding-top: 0;
}

#app-container{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: row;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
}

.isVk #app-container{

}

.lg-unwrapped #bottom-block {
    margin-top: 15px
}

.lg-unwrapped #left-block {
    margin-right: 15px;
}

.lg-unwrapped #right-block {
    margin-left: 15px;
}

#game-field{

}

#under-field{
    position: relative;
}

#bottom-block{
    margin: 0 0 0 0;
    position: relative;
}

#info-block{
    margin-top: 15px;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 17px;
}

#description {
    display: none;
    position: relative;
    width: 800px;
    margin: 0 auto;
}

#description .description-wrapper {
    padding: 10px 10px 10px 10px;
    font-family: Verdana;
    font-size: 13px;
    position: absolute;
    background: white;
    border-radius: 12px;
    z-index: 10000;
    box-shadow: 0 0 15px;
}

#description .description-wrapper h4,h3,h2,h1{
    text-align: center;
}

#description .description-wrapper h3{
    text-align: center;
    font-size: 9pt;
}

#description .description-wrapper p{
    text-indent: 15px;
}

#description .description-wrapper img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#closeDescription {
    position: absolute;
    right: 4px;
    top: 4px;
}

.lg-row {
    display: table-row;
}

.lg-cell {
    display: table-cell;
}