#rlLoadingImg {
    display: none;
    /*float: left;*/
    right: 40px;
    top: 2px;
    position: absolute;
    width: 30px;
}

#closeRatingsPanel {
    position: absolute;
    margin-top: 3px;
    right: 6px;
    float: right;
    cursor: pointer;
}

#ratingsPanel {
    background-color: white;
    margin-top: 5px;
    border: 1px solid #DDD;
    padding: 5px 5px 7px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#ratingsPanel td {
    vertical-align: top;
}

#ratingsPanel th {
    vertical-align: middle;
    font-weight: normal;
    height: 26px !important;
}

.ratingsRegPrompt {
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

#ratingsContents li {
    margin-bottom: 10px;
}

#ratingsPanel {
    padding-top: 2px;
}

.rlArrows, .noArrows {
    background-color: #EEEEEE;
}

.rlArrows {
    text-align: center;
    padding-bottom: 3px !important;
    /*background-color: #EEEEEE;*/
    cursor: pointer;
    vertical-align: middle !important;
}

.rlHeader {
    border-bottom: 1px solid #DDD !important;
    vertical-align: top !important;
}

.pdRow td, .pdRow th {
    padding-top: 5px !important;
    padding-bottom: 6px !important;
}

.pdTotalGameTime {
    color: #777;
}

.pdSpacingRow {
    height: 4px;
}

.rowUnplayed {
    color: #CFCFCF;
}

.pdSelfHint {
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #444;
    padding-top: 50px;
    padding-bottom: 50px;
}